{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "comma-dangle": "off",
    "consistent-return": "off",
    "no-console": "off",
    "newline-per-chained-call": "off",
    "implicit-arrow-linebreak": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  }
}
